// ::Imports pre-render. Must be after reset
// ------------------------------------------------------------
@import "libs/required";
@import "libs/reset";
@import "libs/settings";
@import "libs/mixins";
@import "libs/placeholders";

// Use SASS globbing to import all _.scss files in the module folder.
// These should be independent modules that follow the BEM/SMACSS way
@import "modules/*";



/* ::Base styles */
/* ------------------------------------------------------------ */

html {
	font-size: 100%;
	@include respond-to-max(768px, $IE9: false) { // Stop at precise width, as we're talking about devices
		-webkit-text-size-adjust: 100%;	// Stops text scaling in iOS.
	}
	background: black;
}

body {
	@extend .font-body;
	color: white;
}

a {
	color: lightgrey;
	text-decoration: none;
	@include link-active-styles { 	// Mixin for interactions (hover,focus,active)
		color: $action-respond;
	}
}

ul{
	margin: 0;
}

.is-typeset ul{
	margin: 0 !important;
	list-style-type: none !important;
}
div.main-nav{
	@include leader(2);
	@include trailer(2);
	min-height: 9vh;
	height: 9vh;
	@include respond-to($f-vp){
		@include leader(8);
		@include trailer(4);
	}
	h1{
		@include leader(1);
		line-height: 0.9em !important;
		font-size: 1.5em;
		@include respond-to($f-vp){
			font-size: 2.5em;
		}
		span.title-uncertain{
			line-height: 0.9em !important;
			color: $project-yellow;
			@include respond-to($f-vp){
			}
		}
	}
	.row{
		width: 100%;
	}
}

div.top-left-context, div.top-right-context{
	top: 20px;
	ul{
		list-style-type: none;
		li{
		font-size: 1em !important;
		margin: 0 !important;
		line-height: 1em;
		@include respond-to($f-vp){
			font-size: 1.6em !important;
		}
		margin: 0 !important;
		margin-bottom: 0.4em;
		}
	}
}

div.top-right-context{
	text-align: right;
}

div.top-left-context{
	display: none;
	@include respond-to($c-vp){
		display: block;
	}
}

span.uncertain_match{
	color: $project-yellow;
}

div.hp-half::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

div.hp-half::-webkit-scrollbar-track-piece  {
	background-color: $sb-backg;
}

div.hp-half::-webkit-scrollbar-thumb:vertical {
	height: 30px;
	background-color: $sb-forg;
}

div.whiterow, div.white-row{
	background-color: white;
	height: 75vh;
	overflow-y: scroll;
	webkit-scrollbar-width: thin;
	scrollbar-width: thin;
	scrollbar-color: $sb-forg $sb-backg;
	::-webkit-scrollbar {
		width: 6px;
		height: 6px;
	}

	::-webkit-scrollbar-track-piece  {
		background-color: $sb-backg;
	}

	::-webkit-scrollbar-thumb:vertical {
		height: 30px;
		background-color: $sb-forg;
	}
}

div.white-row-collapsed{
	height: 60vh;
	background-color: white;
}

.collection-page{
	color: black;
	b{
		color: black !important;
		font-family: AntiqueNobleRegular;
	}
	a{
		color: grey;
	}
	.graph{
		@include leader(8);
		@include trailer(8);
	}
}

.collection-select{
	div.embedded-list{
		padding-left: 10px;
		font-size: 0.8em;
	}
}

.whiterowsmaller{
	height: 60vh;
}

div.hp-half{
	position: fixed;
	height: 75vh;
	overflow-x: hidden;
	overflow-y: scroll;
	webkit-scrollbar-width: thin;
	scrollbar-width: thin;
	scrollbar-color: $sb-forg $sb-backg;
}

div.hp-half-left{
	left: 0px;
	width: 50%;
}

div.hp-half-right{
	right: 0px;
	width: 50%;
	padding: 20px;
	div.text-container{
		color: black;
		a{
			color: black;
		}
		.description{
			font-size: 0.9em;
			@include respond-to($f-vp){
				font-size: 1.1em;
			}
			span{
				font-size: 0.9em;
				@include respond-to($f-vp){
					font-size: 1.1em;
				}
			}
		}
		.description:hover{
			color: grey;
		}
	}
}

div.vignette{
	width: 110px;
	height: 200px;
	margin: 2px;
	float: left;
	// outline: 1px red solid;
	.passepartout{
		width: 100%;
		height: 200px;
		// outline: 1px blue solid;
		filter: grayscale(1);
	}
	.passepartout:hover{
		filter: grayscale(0);
	}
	figcaption{
		margin-top: 6px;
		font-size: 0.8em;
		line-height: 1.1em;
		font-family: AntiqueNobleLight;
		font-weight: light;
		color: black;

		white-space: pre-wrap;
		word-break: initial;

		word-wrap: break-word;
	}
}


img.large-thumbnail{
	width: 400px;
}

div.reg-page-container{
	overflow-y: scroll;
	padding-top: 40px;
	font-size: 1.2em;
	color: black;
	font-family: AntiqueNobleLight;
	p.chapeau{
		font-size: 2em;
		line-height: 1.2em;
		font-family: AntiqueNobleRegular;
	}
	a{
		color: $project-yellow;
	}
}

.lower-nav{
	font-size: 0.8em;
	background-color: black;
	@include padding-leader(2);
	position: fixed;
	width: 100%;
	@include respond-to($f-vp){
		font-size: 1em;
	}
	.uncertain-list{
		-webkit-column-count: 2;
	 	-moz-column-count: 2;
		column-count: 2;
		-webkit-column-gap: 20px;
		-moz-column-gap: 20px;
		column-gap: 20px;
	}
	.row{
		width: 100%;
	}
	ul{
		list-style-type: none;
		li{
			margin: 0;
		}
	}
	.language-select{
		text-align: right;
	}
	.expand-filters{
		a.expand-filt{
			text-align: left;
			color: $project-yellow;
		}
		transform: rotate(-90deg);
		position: fixed;
		bottom: 52px;
		left: -10px;
	}
	.expand-filters-right{
		a.expand-filt-right{
			text-align: left;
			color: $project-yellow;
		}
		transform: rotate(-90deg);
		position: fixed;
		bottom: 52px;
		right: -10px;
	}
	.container {
  display: block;
  position: relative;
  cursor: pointer;
	padding-left: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 10px;
  width: 10px;
  background-color: white;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: $project-yellow;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 4px;
  top: 0px;
  width: 4px;
  height: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
}

.striked{
	text-decoration: line-through;
}

.closed::after{
	content: " →";
}

.opened::after{
	content: " ←";
}

/* ::Import styles */
/* ------------------------------------------------------------ */

@import "libs/typography"; 					// Base level typography
@import "libs/forms";						// Forms
@import "add-ons/module-typeset"; 			// Specific typesetting
@import "add-ons/grid"; 					// Grid system


/* ::Print */
/* ------------------------------------------------------------ */

@media print {
	body {
		@include adjust-leading-to(2);
		font-size: percentage(10 / 16);
	}
}
