{% extends "base.html" %}

{% block counter %}
	{{full_counter}} items
{% endblock %}

{% block content %}
<div id="main-area" class="main-area row-parent whiterow collection-page">
	<div class="row">
		<div class="colspan12-12 as-grid graph">
		<canvas id="detailChart" height="400"></canvas>
		<script type="text/javascript">
		var ctx = document.getElementById('detailChart').getContext('2d');
		var chart = new Chart(ctx, {
		    type: 'line',
		    data: {
		        labels: [{% for item, amount in amounts %}'{{item}}',{% endfor %}],
		        datasets: [{
		            label: 'results per word pattern',
		            backgroundColor: 'rgb(0, 0, 0)',
		            borderColor: 'rgba(255, 255, 255, 1)',
		            data: [{% for item, amount in amounts %}'{{amount}}',{% endfor %}]
		        }]
		    },
		    options: {
		    "responsive": true,
		    "maintainAspectRatio": false,
		    scales: {
		        yAxes: [{ticks: {fontSize: 12, fontFamily: "'AntiqueNobleLight', sans-serif", fontColor: 'rgb(0,0,0)', fontStyle: '500'}}],
		        xAxes: [{ticks: {fontSize: 12, fontFamily: "'AntiqueNobleLight', sans-serif", fontColor: 'rgb(0,0,0)', fontStyle: '500'}}]
		    },
		    legend: {
		      labels: {
		        "fontFamily": 'AntiqueNobleLight',
		          }
		        }
		      }
		});
		</script>

		</div>
		<div class="colspan12-8 push12-2 as-grid ">
		{% for item, amount in amounts %}
			<b>{{item}} : {{amount}} results</b> →<a href="/collection2019/{{item}}"> {{item}} page</a><br>
		{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
