{% extends "base.html" %}

{% block counter %}
	{{full_counter2020}} items
{% endblock %}


{% block content %}
<div class="row-parent white-row">
	<div class="row">
		<div class="colspan12-8 push12-2 reg-page-container ">
			<h2>Events :</h2>

			<li>June 2020: Diversions v2, Online Exhibition</li>

			<li><strike>spring 2020 : Diversions v2, collective exhibition at De Krook Ghent</strike></li>

			<li>14 October 2019 : Heritage collection data: Are 'facts' static?, debate organised by VIAA/PACKED in the context of DiVersions.</li>

			<li>10 – 26 October 2019 : Diversions v1, collective exhibition and publication at Pianofabriek Brussels</li>

			<li>September 2019 : launch of collection-of-uncertainties.constantvzw.org</li>

			<li>29 & 30 May 2019 : Diversions meeting, Brussels & Ghent</li>

			<li>4 – 11 December 2016 : Diversions, worksession, Royal Museum of Art and History in Brussels</li>

			<h2>Links :</h2>

			<li><a href="http://diversions.constantvzw.org">diversions.constantvzw.org</a></li>
			<li><a href="https://www.carmentis.be/eMP/eMuseumPlus">carmentis.be/eMP/eMuseumPlus</a></li>


		</div>
	</div>
</div>
{% endblock %}
