{% extends "base.html" %}

{% block counter %}
	{{full_counter}} items
{% endblock %}

{% block content %}

<div class="row-parent">
      <div class="row">
        <h1>{{uncertain}}</h1>
        <hr>
        {% for row in datafile %}
        <div class="row__colspaced">
            <div class="colspan12-4 as-grid with-gutter">
                    <p><img class="large-thumbnail" src="/static/word_patterns/2019/{{uncertain}}/{{row[15]}}"></p>
                    <p><small>↑ {{row[2]}}, {{row[3]}}: </small></p>

            </div>
            <div class="colspan12-8 as-grid with-gutter">
                    <h2>{{row[3]}} : </h2>
                    collectionName : {{row[0]}}<br>
                    inventoryNb : {{row[1]}}<br>
                    objectName : {{row[2]}}<br>
                    objectTitle : {{row[3]}}<br>
                    objectCulture : {{row[4]}}<br>
                    geography : {{row[5]}}<br>
                    dating : {{row[6]}}<br>
                    material :  {{row[7]}}<br>
                    technique : {{row[8]}}<br>
                    dimensions : {{row[9]}}<br>
                    legalRightOwner : {{row[10]}}<br>
                    <br>objectDescription : {{row[11]}}<br>

            </div>
        </div>
        {% endfor %}
      </div>

</div>
{% endblock %}
